@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Quicksand:300,400,500";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@media only screen and (max-width: 992px) {
    .navbar-custom {
        background-color: #000;
    }

    .navbar-custom .navbar-brand,.navbar-custom .navbar-nav > .nav-item .nav-link {
        color: #fff;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-custom {
        background-color: #fff;
    }

    .navbar-custom .navbar-brand,.navbar-custom .navbar-nav > .nav-item .nav-link,.navbar-custom .navbar-brand:hover {
        color: #000;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand',sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    transform-style: perserve-3d;
    overflow-x: hidden;
    width: 100%;
}

html, body {
    height: 100%;
}

.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-out;
    z-index: 10;
}

.navbar-custom .navbar-nav > .nav-item {
    padding: .3rem 3px;
}

.navbar-custom .navbar-nav > .nav-item .nav-link {
    font-weight: 500;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-custom .navbar-nav > .nav-item .nav-btn {
    border-radius: 5px;
    color: #fff;
    background: #6927ff;
}

.btn-pill, .btn-pill:hover {
    color: white;
    background: #6827ffe1;
    border: none;
    width: 100%;
}

#login-div, #signup-div {
    position: relative;
    display: none;
    visibility: hidden;
    opacity: 0;
    animation: slideInUp 0.5s ease-out 0s 1 forwards;
}

.down-btn {
    color: #000;
    opacity: 1;
    position: absolute;
    left: 50%;
}

.open-source {
    width: 55%;
    position: relative;
    padding: 2rem;
    background-color: #6927ff;
    color: #fff;
    border-radius: 1rem 3.125rem;
}

.background {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left,#6927ff 0%,#6827ffd5 100%);
    background: -webkit-linear-gradient(left,#6927ff 0%,#6827ffd5 100%);
    background: linear-gradient(to right,#6827ff 0%,#6827ffd5 100%);
    color: #fff;
}

.login-wrap {
    position: absolute;
    width: 70%;
    height: 65%;
    top: 50%;
    left: 50%;
    padding: 3rem;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #fff;
    color: #000;
}

.input {
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #e6e6e6;
    color: #666;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.input-icon i {
    position: absolute;
    font-size: 15px;
    color: #666;
    padding-top: 18px;
    padding-left: 35px;
}

.alert-required::before {
    content: '!';
    position: absolute;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 12px 4px 12px;
    margin-top: 10px;
    right: 40px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
    animation: zoomIn 0.2s forwards;
}

.alert-required:hover::before {
    content: attr(data-validate);
    max-width: 80%;
}

.group { 
    position: relative; 
    margin-bottom: 45px; 
}

.input1 {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.input1:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input1:focus ~ label, .input1:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input1:focus ~ .bar:before, .input1:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input1:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.open-source a,.open-source a:hover {
    color: #bbb;
}

.text {
    position: relative;
    visibility: hidden;
    opacity: 0;
    padding: 2rem;
    animation: slideInUp .5s ease-out 1s 1 forwards;
}

h1, h2 {
    font-weight: 500;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

img {
    z-index: -1;
}

a,a:hover,a:focus,a:active {
    transition: .3s all ease-out;
    text-decoration: none;
}

.submit, .submit:active, .submit:focus {
    background: 0 0;
    border: none;
    outline: none;
}

.button span,.button::before {
    background: #29323c;
    background: -moz-linear-gradient(left,#6927ff 0%,#6827ffd5 100%);
    background: -webkit-linear-gradient(left,#6927ff 0%,#6827ffd5 100%);
    background: linear-gradient(to right,#6827ff 0%,#6827ffd5 100%);
}

.button {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
}

.button::before {
    content: '';
    display: inline-block;
    height: 2.5rem;
    position: absolute;
    bottom: .3125rem;
    left: 1.875rem;
    right: 1.875rem;
    z-index: -1;
    border-radius: 30rem;
    filter: blur(1.25rem) brightness(0.95);
    transform-style: preserve-3d;
    transition: all .3s ease-out;
}

.button span {
    display: inline-block;
    padding: 1.125rem 3.75rem;
    border-radius: 50rem;
    position: relative;
    z-index: 2;
    will-change: transform,filter;
    transform-style: preserve-3d;
    transition: all .3s ease-out;
}

.button:hover span {
    filter: brightness(1.05) contrast(1.05);
    transform: scale(0.95);
}

.button:hover::before {
    bottom: 0;
    filter: blur(0.625rem) brightness(0.95);
}

.button:focus,.button:active,.button:hover {
    color: #fff;
}

@-webkit-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }

    to {
        width:0;
        background:transparent;
   }
}
@-moz-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }

    to {
        width:0;
        background:transparent;
   }
}
@keyframes inputHighlighter {
    from {
        background:#5264AE;
    }

    to {
        width:0;
        background:transparent;
   }
}

@keyframes zoomIn {
    from {
        transform: scale(0.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.2);
    }
}

@keyframes slideInUp {
    from {
        visibility: hidden;
        opacity: 0;
        top: 10rem;
    }

    to {
        visibility: visible;
        opacity: 1;
        top: 0;
    }
}